<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/penguins">Penguins</a></li>
    </ul>
    <div class="user-dropdown">
        <input type="checkbox" id="menu-toggle" hidden>
        <label for="menu-toggle" class="avatar-label">
            <img src="https://raw.githubusercontent.com/similonap/json/refs/heads/master/penguins/images/alexbio.jpg" alt="Avatar" class="avatar">
        </label>
        <div class="user-menu">
            <span class="username"><a href="/researchers/alexbio" class="profile-link">alexbio</a></span>
            <span class="fullname">Alexandra Kim</span>
            <form action="/logout" method="post" class="logout-form">
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>